# Desafio 1

In [4]:
import pandas as pd

mercado = pd.read_csv('./vendas-supermercado.csv')
# Desafio 1
# Lucro Médio por Subcategoria e Segmento
# Desafio: Calcule o lucro médio por subcategoria e segmento
# Opção 1 
lucro_medio = mercado.groupby(['Subcategoria', 'Segmento'])['Lucro'].mean()
# Opção 2
lucro_medio_2 = mercado.groupby(['Subcategoria','Segmento']).agg({'Lucro':'mean'})
lucro_medio_2

                                Lucro
Subcategoria  Segmento
Acessórios    Consumidor    50.823339
              Corporativo   55.980090
              Home Office   60.665948
Aparelhos     Consumidor    28.614460
              Corporativo   47.934808
              Home Office   55.614657
Armazenamento Consumidor    15.787112
              Corporativo   35.119326
              Home Office   37.085304
Arte          Consumidor     8.070797
              Corporativo    9.195632
              Home Office    7.125588
Cadeiras      Consumidor    40.228972
              Corporativo   44.386471
              Home Office   50.101779
Copiadoras    Consumidor   688.106017
              Corporativo  949.513945
              Home Office  964.910415
Envelopes     Consumidor    25.305524
              Corporativo   30.609869
              Home Office   27.525246
Estantes      Consumidor   -33.859834
              Corporativo    9.975784
              Home Office    9.837333
Etiquetas     Consumidor    16.275071
              Corporativo   17.263013
              Home Office    9.718333
Fixadores     Consumidor     5.059656
              Corporativo    4.269542
              Home Office    2.745782
Furnishings   Consumidor    16.031220
              Corporativo   12.181277
              Home Office    9.322933
Mesas         Consumidor   -61.182628
              Corporativo  -46.287723
              Home Office  -57.239717
Máquinas      Consumidor    37.562488
              Corporativo   20.086257
              Home Office   23.507657
Papel         Consumidor    22.416513
              Corporativo   25.395948
              Home Office   30.324829
Pastas        Consumidor    23.071278
              Corporativo   13.482706
              Home Office   21.662393
Suprimentos   Consumidor   -16.575513
              Corporativo    5.556170
              Home Office    4.466393
Telefones     Consumidor    52.853913
              Corporativo   43.258160
              Home Office   53.689134

# Desafio 2

In [4]:
import pandas as pd

mercado = pd.read_csv('./vendas-supermercado.csv')

# Desafio 2
# Quantidade Total e Desconto Médio por Cidade
# Desafio: Determine a quantidade total de produtos vendidos e o desconto médio aplicado em cada cidade usando a função "agg"
cidade_resumo = mercado.groupby('Cidade').agg({'Quantidade': 'sum', 'Desconto': 'mean'})
cidade_resumo.head(5)

             Quantidade  Desconto
Cidade
Aberdeen              3  0.000000
Abilene               2  0.800000
Akron                65  0.357143
Albuquerque          65  0.057143
Alexandria           84  0.000000

# Desafio 3

In [9]:
import pandas as pd

mercado = pd.read_csv('./vendas-supermercado.csv')

# Desafio 3
# Análise Detalhada por Cliente
# Desafio: Crie um resumo detalhado das vendas por cliente, incluindo o total de vendas, o número de pedidos e o lucro médio usando a função "agg"
cliente_resumo = mercado.groupby('Nome do Cliente').agg({'Vendas': 'sum', 'ID do Pedido': 'count', 'Lucro': 'mean'})
cliente_resumo

                      Vendas  ID do Pedido       Lucro
Nome do Cliente
Aaron Bergman        886.156             6   21.557750
Aaron Hawkins       1744.700            11   33.201382
Aaron Smayling      3050.692            10  -25.357460
Adam Bellavance     7755.620            18  114.143806
Adam Hart           3250.337            20   14.059450
...                      ...           ...         ...
Xylona Preis        2374.658            28   22.186786
Yana Sorensen       6720.444            12  148.191025
Yoseph Carroll      5454.350             8  163.203625
Zuschuss Carroll    8025.707            31  -33.295129
Zuschuss Donatelli  1493.944             9   27.681189

[793 rows x 3 columns]